body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

label, input, button {
    display: block;
    margin: 10px 0;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Add transition for a smooth effect */
}

button:hover {
    background-color: #0056b3; /* Change background color on hover */
}

.error-message {
    color: red;
}

/* Style the logout button */
.logout-button {
    background-color: #dc3545; /* Red color for the logout button */
}

.logout-button:hover {
    background-color: #a71b1b; /* Darker red color on hover */
}
